<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted"> Brandon loves to draw and build stuff. This website is an extended wall of a wall at his parents' house that is full with his creativity.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014 New Year's Eve</h4>
                                    <h4 class="subheading">I became very interested in Python when trying to solve math problems on Project Euler with friends.</h4>
                                </div>
                                <div class="timeline-body">
                                        <ul>
                                         
                                        </ul>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015</h4>
                                    <h4 class="subheading">I subsequently devoted many weekends to learning Python by building data analytic models, and eventually used them at work.</h4>
                                </div>
                                <div class="timeline-body">
                                    <ul>
                                        </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017</h4>
                                    <h4 class="subheading">I started this website to document projects as I am learning to become better in data science. I also write journals in Chinese here occassionally so I don't get too rusty in my native language. <br /></h4>
                                </div>
                                <div class="timeline-body">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
