<!-- Portfolio Grid Section -->
    <section id="journal" class="bg-png">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Chinese Journal</h2>
                    <h3 class="section-subheading text-muted">I occassionally wirte journals in my native language so I don't get too rusty in this.</h3>
                </div>
            </div>
            <div class="row">

                <div class="col-md-4 col-sm-6 journal-item">
                    <a href="#portfolioModal1001" class="journal-link" data-toggle="modal">
                        <div class="journal-hover">
                            <div class="journal-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/anguar-invasive.png" class="img-responsive" alt="">
                    </a>
                    <div class="journal-caption">
                        <h4>用中文寫札記</h4>
                        <p class="text-muted">December 31, 2016</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 journal-item">
                    <a href="#portfolioModal1" class="journal-link" data-toggle="modal">
                        <div class="journal-hover">
                            <div class="journal-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/fishmap.png" class="img-responsive" alt="">
                    </a>
                    <div class="journal-caption">
                        <h4>K Means</h4>
                        <p class="text-muted">Unsupervised Machine Learning</p>
                    </div>
                </div>

                
                <!-- <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/portfolio.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Portfolio</h4>
                        <p class="text-muted">Web Design</p>
                    </div>
                </div>          -->   
                
            </div>
             <div class="row">

            
            </div>
        </div>
    </section>
